{% extends 'main/patt.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'au/css/prof_w.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'au/js/prof_w.js' %}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=EB+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="mform">
    <h3>Редактирование данных</h3>
    <form method="post" class="fr">
        {% csrf_token %}
        <input class="form-control formEl change" type="text" placeholder="Name" name="username" required value="{{ currentUsername }}">
                <div class="form-error m-er">{{ usernameError }}</div>
        <input class="form-control formEl change" type="email" placeholder="Email" name="email" required value="{{ currentEmail }}">
                <div class="form-error m-er">{{ emailError }}</div>
        <input class="mbtn" type="submit" value="Сохранить">
    </form>

</div>
{% endblock %}